.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form button {
  max-width: 60px;
  display: flex;
  justify-content: center;
}

.movie-container {
  width: 80%;
}

.list-of-movies {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.each-movie {
  text-align: center;

}

.each-movie img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.each-movie h3,
.each-movie p {
  margin-bottom: 20px;
}